/* Container principal */
.ServicoContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 80%;
}
.ServicoContainer2{
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
}
.CaseImg{
  width: 340px;
  height: 230px;
  background-color: #DBEFFA;
  position: absolute;
margin-left: 0px;
  margin-top: -60px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Lado esquerdo: Texto e botão */
.ServicoTexto {
  flex: 1;
  padding: 10px 50px;
  text-align: left;
max-width: 700px;
color: #181945;
}

.ServicoTexto h2 {
  font-size: 2rem;
  color: #33425F;
  margin-bottom: 10px;
  font-weight: 500;
}

.ServicoTexto p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #181945;
}

.ServicoTexto button {
  background-color: #33425F;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.ServicoTexto button:hover {
  background-color: #3b82f6;
  transform: scale(1.05);
}

/* Lado direito: Imagem */
.ServicoImagem {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ServicoImagem img {

  height: auto;
  border-radius: 10px;

}

/* Div expandida: Mais informações e fotos */
.ServicoDetalhes {
  margin-bottom: 100px;
  padding: 50px 20px 0 20px;
  background-color: #DBEFFA;
  border-radius: 10px;
max-width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.ServicoDetalhes p {
  margin-bottom: 30px;
  color: #333;
  font-size: 1rem;
max-width: 700px;
  text-align: left;
}

.ServicoDetalhes h2 {
  margin-bottom: 30px;
  color: #33425F;
  text-align: left;

}

.ServicoDetalhes  button{
    background-color: #33425F;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-block: 20px;
 
}
.ServicoDetalhes button:hover {
    background-color: #3b82f6;
    transform: scale(1.05);
  }

.ServicoFotos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.ServicoFotos img {
max-width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.containeragendarespecialista {
 display: flex;
 flex-direction: column;

 align-items: center;
 margin: 40px 30px;
}
.botaoagendarespecialista {

    background-color: #33425F;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: crescerDiminuir 4s infinite; /* Adiciona a animação */
    border: none;

  }
.ServicoImagemPrincipal{
  width: 320px;
  height: 210px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
    position:relative;
    margin-left: 70px;



}
/* Animação para a área expandida */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .ServicoContainer2 {
    flex-direction: column;
    text-align: center;
   
  }

  .ServicoTexto {
    padding: 10px;
  }

  .ServicoImagem {
    margin-top: 20px;
   
  }

  .ServicoFotos img {
    
    width: 270px;
  }
  .ServicoFotos button {
    background-color: #33425F;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: crescerDiminuir 2s infinite; /* Adiciona a animação */
    width: 270px;
    border: none;
  }
  

  .ServicoDetalhes p {
    margin-bottom: 30px;
    color: #333;
    font-size: 1rem;
   
  }
}
@keyframes crescerDiminuir {
    0%, 100% {
        transform: scale(1); /* Tamanho original */
    }
    50% {
        transform: scale(1.1); /* Aumenta em 10% */
    }
}