.NossasEspecialidades{
    padding: 30px;
    color:  #33425F;
}

.NossasEspecialidades p{
    text-align: center;
    margin-inline: auto;
    margin-block: 60px;
    font-size: 1.5rem;
    max-width: 830px;

}