.DepoimentoFeed {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
  }
  
  .Carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px 0;
  }
  
  .Carousel::-webkit-scrollbar {
    display: none;
  }
  
  .TestimonialCard {
    flex: 0 0 33%; /* Ocupa 80% da largura do container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 0 auto;
  }
  
  .TestimonialPhoto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .TestimonialName {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .TestimonialText {
    font-size: 1rem;
    color: #555;
  }
  